In [40]:
import polars as pl

In [41]:
airlines_path = "data/airlines.csv"
airports_path = "data/airports.csv"
flights_path = "data/flights.csv"

In [128]:
airlines = pl.read_csv(airlines_path)
airports = pl.read_csv(airports_path)
flights = pl.read_csv(flights_path)

In [43]:
airlines.head()

shape: (5, 2)
┌───────────┬────────────────────────┐
│ IATA_CODE ┆ AIRLINE                │
│ ---       ┆ ---                    │
│ str       ┆ str                    │
╞═══════════╪════════════════════════╡
│ UA        ┆ United Air Lines Inc.  │
│ AA        ┆ American Airlines Inc. │
│ US        ┆ US Airways Inc.        │
│ F9        ┆ Frontier Airlines Inc. │
│ B6        ┆ JetBlue Airways        │
└───────────┴────────────────────────┘

In [44]:
airports.head()

shape: (5, 7)
┌───────────┬───────────────────────────────────┬─────────────┬───────┬─────────┬──────────┬────────────┐
│ IATA_CODE ┆ AIRPORT                           ┆ CITY        ┆ STATE ┆ COUNTRY ┆ LATITUDE ┆ LONGITUDE  │
│ ---       ┆ ---                               ┆ ---         ┆ ---   ┆ ---     ┆ ---      ┆ ---        │
│ str       ┆ str                               ┆ str         ┆ str   ┆ str     ┆ f64      ┆ f64        │
╞═══════════╪═══════════════════════════════════╪═════════════╪═══════╪═════════╪══════════╪════════════╡
│ ABE       ┆ Lehigh Valley International Airp… ┆ Allentown   ┆ PA    ┆ USA     ┆ 40.65236 ┆ -75.4404   │
│ ABI       ┆ Abilene Regional Airport          ┆ Abilene     ┆ TX    ┆ USA     ┆ 32.41132 ┆ -99.6819   │
│ ABQ       ┆ Albuquerque International Sunpor… ┆ Albuquerque ┆ NM    ┆ USA     ┆ 35.04022 ┆ -106.60919 │
│ ABR       ┆ Aberdeen Regional Airport         ┆ Aberdeen    ┆ SD    ┆ USA     ┆ 45.44906 ┆ -98.42183  │
│ ABY       ┆ Southwest Georgia Regional Airpo… ┆ Albany      ┆ GA    ┆ USA     ┆ 31.53552 ┆ -84.19447  │
└───────────┴───────────────────────────────────┴─────────────┴───────┴─────────┴──────────┴────────────┘

In [45]:
flights.head()

shape: (5, 31)
┌──────┬───────┬─────┬─────────────┬───┬────────────────┬───────────────┬─────────────────────┬───────────────┐
│ YEAR ┆ MONTH ┆ DAY ┆ DAY_OF_WEEK ┆ … ┆ SECURITY_DELAY ┆ AIRLINE_DELAY ┆ LATE_AIRCRAFT_DELAY ┆ WEATHER_DELAY │
│ ---  ┆ ---   ┆ --- ┆ ---         ┆   ┆ ---            ┆ ---           ┆ ---                 ┆ ---           │
│ i64  ┆ i64   ┆ i64 ┆ i64         ┆   ┆ i64            ┆ i64           ┆ i64                 ┆ i64           │
╞══════╪═══════╪═════╪═════════════╪═══╪════════════════╪═══════════════╪═════════════════════╪═══════════════╡
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null           ┆ null          ┆ null                ┆ null          │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null           ┆ null          ┆ null                ┆ null          │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null           ┆ null          ┆ null                ┆ null          │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null           ┆ null          ┆ null                ┆ null          │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null           ┆ null          ┆ null                ┆ null          │
└──────┴───────┴─────┴─────────────┴───┴────────────────┴───────────────┴─────────────────────┴───────────────┘

In [54]:
airlines.describe()

shape: (9, 3)
┌────────────┬───────────┬──────────────────────┐
│ describe   ┆ IATA_CODE ┆ AIRLINE              │
│ ---        ┆ ---       ┆ ---                  │
│ str        ┆ str       ┆ str                  │
╞════════════╪═══════════╪══════════════════════╡
│ count      ┆ 14        ┆ 14                   │
│ null_count ┆ 0         ┆ 0                    │
│ mean       ┆ null      ┆ null                 │
│ std        ┆ null      ┆ null                 │
│ min        ┆ AA        ┆ Alaska Airlines Inc. │
│ 25%        ┆ null      ┆ null                 │
│ 50%        ┆ null      ┆ null                 │
│ 75%        ┆ null      ┆ null                 │
│ max        ┆ WN        ┆ Virgin America       │
└────────────┴───────────┴──────────────────────┘

In [53]:
airports.describe()

shape: (9, 8)
┌────────────┬───────────┬────────────────────────────┬──────────┬───────┬─────────┬───────────┬────────────┐
│ describe   ┆ IATA_CODE ┆ AIRPORT                    ┆ CITY     ┆ STATE ┆ COUNTRY ┆ LATITUDE  ┆ LONGITUDE  │
│ ---        ┆ ---       ┆ ---                        ┆ ---      ┆ ---   ┆ ---     ┆ ---       ┆ ---        │
│ str        ┆ str       ┆ str                        ┆ str      ┆ str   ┆ str     ┆ f64       ┆ f64        │
╞════════════╪═══════════╪════════════════════════════╪══════════╪═══════╪═════════╪═══════════╪════════════╡
│ count      ┆ 322       ┆ 322                        ┆ 322      ┆ 322   ┆ 322     ┆ 319.0     ┆ 319.0      │
│ null_count ┆ 0         ┆ 0                          ┆ 0        ┆ 0     ┆ 0       ┆ 3.0       ┆ 3.0        │
│ mean       ┆ null      ┆ null                       ┆ null     ┆ null  ┆ null    ┆ 38.981244 ┆ -98.378964 │
│ std        ┆ null      ┆ null                       ┆ null     ┆ null  ┆ null    ┆ 8.616736  ┆ 21.523492  │
│ min        ┆ ABE       ┆ Aberdeen Regional Airport  ┆ Aberdeen ┆ AK    ┆ USA     ┆ 13.48345  ┆ -176.64603 │
│ 25%        ┆ null      ┆ null                       ┆ null     ┆ null  ┆ null    ┆ 33.66364  ┆ -110.73774 │
│ 50%        ┆ null      ┆ null                       ┆ null     ┆ null  ┆ null    ┆ 39.29761  ┆ -93.40307  │
│ 75%        ┆ null      ┆ null                       ┆ null     ┆ null  ┆ null    ┆ 43.16949  ┆ -82.55411  │
│ max        ┆ YUM       ┆ Yuma International Airport ┆ Yuma     ┆ WY    ┆ USA     ┆ 71.28545  ┆ -64.79856  │
└────────────┴───────────┴────────────────────────────┴──────────┴───────┴─────────┴───────────┴────────────┘

In [55]:
flights.describe()

shape: (9, 32)
┌────────────┬────────────┬────────────┬────────────┬───┬────────────────┬───────────────┬─────────────────────┬───────────────┐
│ describe   ┆ YEAR       ┆ MONTH      ┆ DAY        ┆ … ┆ SECURITY_DELAY ┆ AIRLINE_DELAY ┆ LATE_AIRCRAFT_DELAY ┆ WEATHER_DELAY │
│ ---        ┆ ---        ┆ ---        ┆ ---        ┆   ┆ ---            ┆ ---           ┆ ---                 ┆ ---           │
│ str        ┆ f64        ┆ f64        ┆ f64        ┆   ┆ f64            ┆ f64           ┆ f64                 ┆ f64           │
╞════════════╪════════════╪════════════╪════════════╪═══╪════════════════╪═══════════════╪═════════════════════╪═══════════════╡
│ count      ┆ 5.819079e6 ┆ 5.819079e6 ┆ 5.819079e6 ┆ … ┆ 1.063439e6     ┆ 1.063439e6    ┆ 1.063439e6          ┆ 1.063439e6    │
│ null_count ┆ 0.0        ┆ 0.0        ┆ 0.0        ┆ … ┆ 4.75564e6      ┆ 4.75564e6     ┆ 4.75564e6           ┆ 4.75564e6     │
│ mean       ┆ 2015.0     ┆ 6.524085   ┆ 15.704594  ┆ … ┆ 0.076154       ┆ 18.969547     ┆ 23.472838           ┆ 2.91529       │
│ std        ┆ 0.0        ┆ 3.405137   ┆ 8.783425   ┆ … ┆ 2.14346        ┆ 48.161642     ┆ 43.197018           ┆ 20.433336     │
│ min        ┆ 2015.0     ┆ 1.0        ┆ 1.0        ┆ … ┆ 0.0            ┆ 0.0           ┆ 0.0                 ┆ 0.0           │
│ 25%        ┆ 2015.0     ┆ 4.0        ┆ 8.0        ┆ … ┆ 0.0            ┆ 0.0           ┆ 0.0                 ┆ 0.0           │
│ 50%        ┆ 2015.0     ┆ 7.0        ┆ 16.0       ┆ … ┆ 0.0            ┆ 2.0           ┆ 3.0                 ┆ 0.0           │
│ 75%        ┆ 2015.0     ┆ 9.0        ┆ 23.0       ┆ … ┆ 0.0            ┆ 19.0          ┆ 29.0                ┆ 0.0           │
│ max        ┆ 2015.0     ┆ 12.0       ┆ 31.0       ┆ … ┆ 573.0          ┆ 1971.0        ┆ 1331.0              ┆ 1211.0        │
└────────────┴────────────┴────────────┴────────────┴───┴────────────────┴───────────────┴─────────────────────┴───────────────┘

In [49]:
flights["AIRLINE"].value_counts().sort(by='AIRLINE')

shape: (14, 2)
┌─────────┬─────────┐
│ AIRLINE ┆ count   │
│ ---     ┆ ---     │
│ str     ┆ u32     │
╞═════════╪═════════╡
│ AA      ┆ 725984  │
│ AS      ┆ 172521  │
│ B6      ┆ 267048  │
│ DL      ┆ 875881  │
│ …       ┆ …       │
│ UA      ┆ 515723  │
│ US      ┆ 198715  │
│ VX      ┆ 61903   │
│ WN      ┆ 1261855 │
└─────────┴─────────┘

In [50]:
airlines.sort(by=['IATA_CODE'])

shape: (14, 2)
┌───────────┬────────────────────────┐
│ IATA_CODE ┆ AIRLINE                │
│ ---       ┆ ---                    │
│ str       ┆ str                    │
╞═══════════╪════════════════════════╡
│ AA        ┆ American Airlines Inc. │
│ AS        ┆ Alaska Airlines Inc.   │
│ B6        ┆ JetBlue Airways        │
│ DL        ┆ Delta Air Lines Inc.   │
│ …         ┆ …                      │
│ UA        ┆ United Air Lines Inc.  │
│ US        ┆ US Airways Inc.        │
│ VX        ┆ Virgin America         │
│ WN        ┆ Southwest Airlines Co. │
└───────────┴────────────────────────┘

In [65]:
data = flights.join(airlines, left_on='AIRLINE', right_on="IATA_CODE")
data.head()

shape: (5, 32)
┌──────┬───────┬─────┬─────────────┬───┬───────────────┬─────────────────────┬───────────────┬────────────────────────┐
│ YEAR ┆ MONTH ┆ DAY ┆ DAY_OF_WEEK ┆ … ┆ AIRLINE_DELAY ┆ LATE_AIRCRAFT_DELAY ┆ WEATHER_DELAY ┆ AIRLINE_right          │
│ ---  ┆ ---   ┆ --- ┆ ---         ┆   ┆ ---           ┆ ---                 ┆ ---           ┆ ---                    │
│ i64  ┆ i64   ┆ i64 ┆ i64         ┆   ┆ i64           ┆ i64                 ┆ i64           ┆ str                    │
╞══════╪═══════╪═════╪═════════════╪═══╪═══════════════╪═════════════════════╪═══════════════╪════════════════════════╡
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null          ┆ null                ┆ null          ┆ Alaska Airlines Inc.   │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null          ┆ null                ┆ null          ┆ American Airlines Inc. │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null          ┆ null                ┆ null          ┆ US Airways Inc.        │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null          ┆ null                ┆ null          ┆ American Airlines Inc. │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null          ┆ null                ┆ null          ┆ Alaska Airlines Inc.   │
└──────┴───────┴─────┴─────────────┴───┴───────────────┴─────────────────────┴───────────────┴────────────────────────┘

In [91]:
# missing data
data.select(pl.all().is_null().sum()).melt(value_name="missing").filter(pl.col("missing") > 0).select(
    pl.col("variable"), 
    pl.col("missing"),
    pl.col("missing").map_elements(lambda x: x/data.shape[0] * 100).round(2).alias("missing_percents"))

shape: (18, 3)
┌─────────────────────┬─────────┬──────────────────┐
│ variable            ┆ missing ┆ missing_percents │
│ ---                 ┆ ---     ┆ ---              │
│ str                 ┆ u32     ┆ f64              │
╞═════════════════════╪═════════╪══════════════════╡
│ TAIL_NUMBER         ┆ 14721   ┆ 0.25             │
│ DEPARTURE_TIME      ┆ 86153   ┆ 1.48             │
│ DEPARTURE_DELAY     ┆ 86153   ┆ 1.48             │
│ TAXI_OUT            ┆ 89047   ┆ 1.53             │
│ …                   ┆ …       ┆ …                │
│ SECURITY_DELAY      ┆ 4755640 ┆ 81.72            │
│ AIRLINE_DELAY       ┆ 4755640 ┆ 81.72            │
│ LATE_AIRCRAFT_DELAY ┆ 4755640 ┆ 81.72            │
│ WEATHER_DELAY       ┆ 4755640 ┆ 81.72            │
└─────────────────────┴─────────┴──────────────────┘

In [94]:
data = data.rename({col: col.lower() for col in data.columns})
data.head()

shape: (5, 32)
┌──────┬───────┬─────┬─────────────┬───┬───────────────┬─────────────────────┬───────────────┬────────────────────────┐
│ year ┆ month ┆ day ┆ day_of_week ┆ … ┆ airline_delay ┆ late_aircraft_delay ┆ weather_delay ┆ airline_right          │
│ ---  ┆ ---   ┆ --- ┆ ---         ┆   ┆ ---           ┆ ---                 ┆ ---           ┆ ---                    │
│ i64  ┆ i64   ┆ i64 ┆ i64         ┆   ┆ i64           ┆ i64                 ┆ i64           ┆ str                    │
╞══════╪═══════╪═════╪═════════════╪═══╪═══════════════╪═════════════════════╪═══════════════╪════════════════════════╡
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null          ┆ null                ┆ null          ┆ Alaska Airlines Inc.   │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null          ┆ null                ┆ null          ┆ American Airlines Inc. │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null          ┆ null                ┆ null          ┆ US Airways Inc.        │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null          ┆ null                ┆ null          ┆ American Airlines Inc. │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ null          ┆ null                ┆ null          ┆ Alaska Airlines Inc.   │
└──────┴───────┴─────┴─────────────┴───┴───────────────┴─────────────────────┴───────────────┴────────────────────────┘

In [97]:
# drop missing cols 
cols_drop = ["cancellation_reason", "air_system_delay", "security_delay", "airline_delay", "late_aircraft_delay", "weather_delay"]
data = data.drop(columns=cols_drop)
data.head()

shape: (5, 26)
┌──────┬───────┬─────┬─────────────┬───┬───────────────┬──────────┬───────────┬────────────────────────┐
│ year ┆ month ┆ day ┆ day_of_week ┆ … ┆ arrival_delay ┆ diverted ┆ cancelled ┆ airline_right          │
│ ---  ┆ ---   ┆ --- ┆ ---         ┆   ┆ ---           ┆ ---      ┆ ---       ┆ ---                    │
│ i64  ┆ i64   ┆ i64 ┆ i64         ┆   ┆ i64           ┆ i64      ┆ i64       ┆ str                    │
╞══════╪═══════╪═════╪═════════════╪═══╪═══════════════╪══════════╪═══════════╪════════════════════════╡
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ -22           ┆ 0        ┆ 0         ┆ Alaska Airlines Inc.   │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ -9            ┆ 0        ┆ 0         ┆ American Airlines Inc. │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ 5             ┆ 0        ┆ 0         ┆ US Airways Inc.        │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ -9            ┆ 0        ┆ 0         ┆ American Airlines Inc. │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ -21           ┆ 0        ┆ 0         ┆ Alaska Airlines Inc.   │
└──────┴───────┴─────┴─────────────┴───┴───────────────┴──────────┴───────────┴────────────────────────┘

In [208]:
data = data.with_columns(
    pl.col("scheduled_departure").map_elements(lambda x : f"{x:04d}"[:-2]).alias("hh")
).with_columns(
    pl.col("scheduled_departure").map_elements(lambda x : f"{x:04d}"[-2:]).alias("mm")
).with_columns(
    pl.datetime("year", "month", "day", "hh", "mm").alias("scheduled_departure_time")
).drop(columns=["hh", "mm", "scheduled_departure"])

data.head()

shape: (5, 26)
┌──────┬───────┬─────┬─────────────┬───┬──────────┬───────────┬────────────────────────┬──────────────────────────┐
│ year ┆ month ┆ day ┆ day_of_week ┆ … ┆ diverted ┆ cancelled ┆ airline_right          ┆ scheduled_departure_time │
│ ---  ┆ ---   ┆ --- ┆ ---         ┆   ┆ ---      ┆ ---       ┆ ---                    ┆ ---                      │
│ i64  ┆ i64   ┆ i64 ┆ i64         ┆   ┆ i64      ┆ i64       ┆ str                    ┆ datetime[μs]             │
╞══════╪═══════╪═════╪═════════════╪═══╪══════════╪═══════════╪════════════════════════╪══════════════════════════╡
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ 0        ┆ 0         ┆ Alaska Airlines Inc.   ┆ 2015-01-01 00:05:00      │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ 0        ┆ 0         ┆ American Airlines Inc. ┆ 2015-01-01 00:10:00      │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ 0        ┆ 0         ┆ US Airways Inc.        ┆ 2015-01-01 00:20:00      │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ 0        ┆ 0         ┆ American Airlines Inc. ┆ 2015-01-01 00:20:00      │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ 0        ┆ 0         ┆ Alaska Airlines Inc.   ┆ 2015-01-01 00:25:00      │
└──────┴───────┴─────┴─────────────┴───┴──────────┴───────────┴────────────────────────┴──────────────────────────┘

In [210]:
data = data.with_columns(
    pl.col("departure_time").map_elements(lambda x : f"{x:04d}"[:-2]).alias("hh")
).with_columns(
    pl.col("departure_time").map_elements(lambda x : f"{x:04d}"[-2:]).alias("mm")
).with_columns(
    pl.datetime("year", "month", "day", "hh", "mm").alias("actual_departure_time")
).drop(columns=["hh", "mm", "departure_time"])

data.head()

shape: (5, 26)
┌──────┬───────┬─────┬─────────────┬───┬───────────┬────────────────────────┬──────────────────────────┬───────────────────────┐
│ year ┆ month ┆ day ┆ day_of_week ┆ … ┆ cancelled ┆ airline_right          ┆ scheduled_departure_time ┆ actual_departure_time │
│ ---  ┆ ---   ┆ --- ┆ ---         ┆   ┆ ---       ┆ ---                    ┆ ---                      ┆ ---                   │
│ i64  ┆ i64   ┆ i64 ┆ i64         ┆   ┆ i64       ┆ str                    ┆ datetime[μs]             ┆ datetime[μs]          │
╞══════╪═══════╪═════╪═════════════╪═══╪═══════════╪════════════════════════╪══════════════════════════╪═══════════════════════╡
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ 0         ┆ Alaska Airlines Inc.   ┆ 2015-01-01 00:05:00      ┆ 2015-01-01 23:54:00   │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ 0         ┆ American Airlines Inc. ┆ 2015-01-01 00:10:00      ┆ 2015-01-01 00:02:00   │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ 0         ┆ US Airways Inc.        ┆ 2015-01-01 00:20:00      ┆ 2015-01-01 00:18:00   │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ 0         ┆ American Airlines Inc. ┆ 2015-01-01 00:20:00      ┆ 2015-01-01 00:15:00   │
│ 2015 ┆ 1     ┆ 1   ┆ 4           ┆ … ┆ 0         ┆ Alaska Airlines Inc.   ┆ 2015-01-01 00:25:00      ┆ 2015-01-01 00:24:00   │
└──────┴───────┴─────┴─────────────┴───┴───────────┴────────────────────────┴──────────────────────────┴───────────────────────┘

In [218]:
data['diverted'].value_counts()

shape: (2, 2)
┌──────────┬─────────┐
│ diverted ┆ count   │
│ ---      ┆ ---     │
│ i64      ┆ u32     │
╞══════════╪═════════╡
│ 1        ┆ 15187   │
│ 0        ┆ 5803892 │
└──────────┴─────────┘

In [219]:
data['cancelled'].value_counts()

shape: (2, 2)
┌───────────┬─────────┐
│ cancelled ┆ count   │
│ ---       ┆ ---     │
│ i64       ┆ u32     │
╞═══════════╪═════════╡
│ 1         ┆ 89884   │
│ 0         ┆ 5729195 │
└───────────┴─────────┘