In [2]:
import pandas as pd
import numpy as np
import gspread
import matplotlib.pyplot as plt
import seaborn as sns

pd.set_option('display.max_columns', None)

import warnings
warnings.filterwarnings('ignore')

In [3]:
gc = gspread.service_account(filename='secret.json')

In [4]:
file = "https://docs.google.com/spreadsheets/d/1SUlcukpgxf6pfFQbj6DKQZXSlOhyBOSuBdbmQ2ZbhTM/edit?usp=sharing"

In [5]:
sh = gc.open_by_url(file)

In [6]:
sh

In [11]:
worksheet = sh.get_worksheet(1)

In [12]:
sh.worksheets()

[<Worksheet 'missing_data' id:327494290>,
 <Worksheet 'inconsistent_data' id:1520648174>]

In [13]:
data = pd.DataFrame(worksheet.get_all_records())

In [14]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496 entries, 0 to 495
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   S#                       496 non-null    int64
 1   Date                     496 non-null    object
 2   Islamic Date             496 non-null    object
 3   Blast Day Type           496 non-null    object
 4   Holiday Type             496 non-null    object
 5   Time                     496 non-null    object
 6   City                     496 non-null    object
 7   Latitude                 496 non-null    object
 8   Longitude                496 non-null    object
 9   Province                 496 non-null    object
 10  Location                 496 non-null    object
 11  Location Category        496 non-null    object
 12  Location Sensitivity     496 non-null    object
 13  Open/Closed Space        496 non-null    object
 14  Influencing Event/Event  496 non-null    object
 15  Target Type              496 non-null    object
 16  Targeted Sect if any     496 non-null    object
 17  Killed Min               496 non-null    object
 18  Killed Max               496 non-null    object
 19  Injured Min              496 non-null    object
 20  Injured Max              496 non-null    object
 21  No. of Suicide Blasts    496 non-null    object
 22  Explosive Weight (max)   496 non-null    object
 23  Hospital Names           496 non-null    object
 24  Temperature(C)           496 non-null    object
 25  Temperature(F)           496 non-null    object
dtypes: int64(1), object(25)
memory usage: 100.9+ KB

In [16]:
data.head()

,S#,Date,Islamic Date,Blast Day Type,Holiday Type,Time,City,Latitude,Longitude,Province,Location,Location Category,Location Sensitivity,Open/Closed Space,Influencing Event/Event,Target Type,Targeted Sect if any,Killed Min,Killed Max,Injured Min,Injured Max,No. of Suicide Blasts,Explosive Weight (max),Hospital Names,Temperature(C),Temperature(F)
0,1,Sunday-November 19-1995,25 Jumaada al-THaany 1416 A.H,Holiday,Weekend,N/A,Islamabad,33.718,73.0718,Capital,Egyptian Embassy,Foreign,High,Closed,,Foreigner,None,14,15,,60,2,,,15.835,60.503
1,2,Monday-November 6-2000,10 SHa`baan 1421 A.H,Working Day,,N/A,Karachi,24.9918,66.9911,Sindh,office of Nawa-e-Waqt,Office Building,Low,Closed,,Media,None,,3,,3,1,,,23.77,74.786
2,3,Wednesday-May 8-2002,25 safar 1423 A.H,Working Day,,7:45 AM,Karachi,24.9918,66.9911,Sindh,Pakistan Navy bus Parked outside Five Star She...,Hotel,Medium,Closed,,Foreigner,Christian,13,15,20,40,1,2.5 Kg,1.Jinnah Postgraduate Medical Center 2. Civil ...,31.46,88.628
3,4,Friday-June 14-2002,3 Raby` al-THaany 1423 A.H,Working Day,,11:10:00 AM,Karachi,24.9918,66.9911,Sindh,US Consulate Civil Lines Area,Foreign,High,Closed,,Foreigner,Christian,,12,,51,1,NA,NA,31.43,88.574
4,5,Friday-July 4-2003,4 Jumaada al-awal 1424 A.H,Working Day,,N/A,Quetta,30.2095,67.0182,Baluchistan,Imambargah MeCongy Road Quetta,Religious,Medium,Closed,during Friday prayer,Religious,Shiite,44,47,,65,1,NA,1.CMH Quetta \n2.Civil Hospital 3. Boland Medi...,33.12,91.616

In [18]:
data = data.replace("", np.nan)

In [19]:
data.head()

,S#,Date,Islamic Date,Blast Day Type,Holiday Type,Time,City,Latitude,Longitude,Province,Location,Location Category,Location Sensitivity,Open/Closed Space,Influencing Event/Event,Target Type,Targeted Sect if any,Killed Min,Killed Max,Injured Min,Injured Max,No. of Suicide Blasts,Explosive Weight (max),Hospital Names,Temperature(C),Temperature(F)
0,1,Sunday-November 19-1995,25 Jumaada al-THaany 1416 A.H,Holiday,Weekend,N/A,Islamabad,33.7180,73.0718,Capital,Egyptian Embassy,Foreign,High,Closed,NaN,Foreigner,None,14.0,15.0,NaN,60,2,NaN,NaN,15.835,60.503
1,2,Monday-November 6-2000,10 SHa`baan 1421 A.H,Working Day,NaN,N/A,Karachi,24.9918,66.9911,Sindh,office of Nawa-e-Waqt,Office Building,Low,Closed,NaN,Media,None,NaN,3.0,NaN,3,1,NaN,NaN,23.770,74.786
2,3,Wednesday-May 8-2002,25 safar 1423 A.H,Working Day,NaN,7:45 AM,Karachi,24.9918,66.9911,Sindh,Pakistan Navy bus Parked outside Five Star She...,Hotel,Medium,Closed,NaN,Foreigner,Christian,13.0,15.0,20.0,40,1,2.5 Kg,1.Jinnah Postgraduate Medical Center 2. Civil ...,31.460,88.628
3,4,Friday-June 14-2002,3 Raby` al-THaany 1423 A.H,Working Day,NaN,11:10:00 AM,Karachi,24.9918,66.9911,Sindh,US Consulate Civil Lines Area,Foreign,High,Closed,NaN,Foreigner,Christian,NaN,12.0,NaN,51,1,NA,NA,31.430,88.574
4,5,Friday-July 4-2003,4 Jumaada al-awal 1424 A.H,Working Day,NaN,N/A,Quetta,30.2095,67.0182,Baluchistan,Imambargah MeCongy Road Quetta,Religious,Medium,Closed,during Friday prayer,Religious,Shiite,44.0,47.0,NaN,65,1,NA,1.CMH Quetta \n2.Civil Hospital 3. Boland Medi...,33.120,91.616

In [21]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 496 entries, 0 to 495
Data columns (total 26 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   S#                       496 non-null    int64
 1   Date                     496 non-null    object
 2   Islamic Date             342 non-null    object
 3   Blast Day Type           486 non-null    object
 4   Holiday Type             72 non-null     object
 5   Time                     359 non-null    object
 6   City                     496 non-null    object
 7   Latitude                 493 non-null    float64
 8   Longitude                493 non-null    float64
 9   Province                 496 non-null    object
 10  Location                 493 non-null    object
 11  Location Category        460 non-null    object
 12  Location Sensitivity     460 non-null    object
 13  Open/Closed Space        461 non-null    object
 14  Influencing Event/Event  249 non-null    object
 15  Target Type              470 non-null    object
 16  Targeted Sect if any     458 non-null    object
 17  Killed Min               350 non-null    float64
 18  Killed Max               480 non-null    float64
 19  Injured Min              365 non-null    float64
 20  Injured Max              464 non-null    object
 21  No. of Suicide Blasts    415 non-null    object
 22  Explosive Weight (max)   382 non-null    object
 23  Hospital Names           399 non-null    object
 24  Temperature(C)           491 non-null    float64
 25  Temperature(F)           489 non-null    float64
dtypes: float64(7), int64(1), object(18)
memory usage: 100.9+ KB

In [24]:
cols = data.columns.to_list()

In [46]:
data[cols[1]].str.replace(" ", "-")

0        Sunday-November-19-1995
1         Monday-November-6-2000
2           Wednesday-May-8-2002
3            Friday-June-14-2002
4             Friday-July-4-2003
                 ...
491     Thursday-October-05-2017
492     Thursday-October-19-2017
493     Thursday-November-9-2017
494      Friday-November-24-2017
495    Saturday-November-25-2017
Name: Date, Length: 496, dtype: object

In [53]:
pd.to_datetime(data[cols[1]].str.replace(" ", "-"), format='mixed')

DateParseError: Unknown datetime string format, unable to parse: Thursay-Aug-27-2015, at position 452